/* Layer 0 is Normalize.css - we build on top of it */

/* Layer 1 HTML elements */
/* ********************* */

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
}

/* Apply a natural box layout model to all elements because sanity. */
*, 
*:before, 
*:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* Android 4.4 webkit likes to put outlines around active elements */
*:active,
*:focus {
  outline: none;
}

html{
  height: 100%;
}

body {
  height: 100%;
  background-color: black;
}

img {
  max-width: 100%;
}

/* Layer 2: Modules */
/* **************** */

.app {
  height: 100%;
}

.clear {
  overflow: hidden;
}

.hidden {
  display: none;
}
